daily_science_brief:
  frequency: "daily"
  time: "01:00"
  promptpackage: "research_papers_public_se"
  categories:
    - "Science"
daily_hybrid_news_tech_se:
  frequency: "daily"
  time: "06:00"
  categories:
    - "Nyheter" 
    - "Teknik"
  promptpackage: "daily_hybrid_news_cyber_tech_se"
daily_hybrid_cyber:
  frequency: "daily"
  time: "07:00"
  categories: 
    - "Cybersecurity"
    - "Dataskydd"
    - "Sårbarheter"
  promptpackage: "daily_hybrid_news_cyber_tech_se"
weekly_hybrid_news_tech_se:
  frequency: "weekly"
  day: "sun"
  time: "23:00"
  categories: 
    - "Nyheter"
    - "Teknik"
  promptpackage: "weekly_hybrid_news_cyber_tech_se"
weekly_hybrid_cyber:
  frequency: "weekly"
  day: "sun"
  time: "21:00"
  categories: 
    - "Cybersecurity"
    - "Dataskydd"
    - "Sårbarheter"
  promptpackage: "weekly_hybrid_news_cyber_tech_se"
daily_summaries:
  frequency: "daily"
  time: "06:00"
  lookback: "1d"
  contents:
    - schedule: "Inrikes"
    - schedule: "Utrikes"
    - schedule: "Tech"
    - schedule: "Cybersec"
    - title: "daily_news_title"
    - ingress: "daily_super_meta"
Inrikes:
  frequency: "triggered"
  lookback: "1d"
  categories:
    - "Sverige"
  promptpackage: "daily_news_multisource_se_eu_world"
Utrikes:
  frequency: "triggered"
  lookback: "1d"
  categories:
    - "Utrikes"
  promptpackage: "daily_news_multisource_se_eu_world"
Tech:
  frequency: "triggered"
  lookback: "1d"
  categories:
    - "Teknik"
  promptpackage: "daily_tech_multisource_se_eu_world"
Cybersec:
  frequency: "triggered"
  lookback: "1d"
  categories:
    - "Cybersecurity"
    - "Dataskydd"
  promptpackage: "daily_cyber_multisource_se_eu_world"